[user]
	email = branmovic@gmail.com
	name = Bran van der Meer

[push]
	default = simple

[core]
	editor = emacs
	autocrlf = input
	excludesfile = /Users/bvandermeer/.gitignore_global

[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
	s = status
	f = fetch -pt
	co = checkout

[branch]
	autosetuprebase = always

[color]
	ui = always

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
