[user]
	name = @@GIT_FULLNAME@@
	email = @@GIT_EMAIL@@

[push]
	default = simple

[gc]
	auto = 1

[core]
	editor = vi
	autocrlf = input
	excludesfile = ~/.gitignore

[alias]
	co = checkout
	cob = checkout -b
	c = commit -m
	ca = commit --amend

	s = status
	b = branch -a
	l = !git --no-pager log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' -15
	ll = !git l --all --branches
	lf = !git --no-pager log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --numstat -1
	shw = show --pretty=format:'hash:    %C(green)%h%C(reset) %nparent:  %C(red)%p%C(reset)%nref:     %C(yellow)%D%C(reset)%nauthor:  %an <%ae>%ndate:    %ad%nmessage: %s%n'
	sh = !git shw --no-patch
	shp = !git shw --patch
	d = diff
	df = "!f() { git diff --name-status -r "HEAD~$1"; }; f"

	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\" --no-verify; };f"
	f = fetch -ptf
	p = pull --rebase
	purge = "!git branch --merged | grep -Ev '(\\*|master|develop|staging)' | xargs -r -n 1 git branch -d"
	u = !git f && git p && git purge

	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged

	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

[branch]
	autosetuprebase = always

[color]
	ui = auto
